{% load humanize %}
{% load dice_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Blockchain Dice Game</title>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script type="text/jscript" src="js/function.js"></script>
<link rel="stylesheet" href="css/qube.css" type="text/css" />
<link rel="stylesheet" href="css/main.css" type="text/css" />
</head>

<body>
  <header class="main-header">
      <a href="#">
        <img alt="git" src="images/git-logo.svg" />
        <span>Blockchain Dice Game</span>
      </a>
  </header>
  <main>
    <section class="game-start"><!-- game start -->
      <div class="center">
        <div class="game-title"><!-- game title -->
          <h1>play to win!</h1>
          <p class="disclaimer">Ethereum Dice is a smart-contract-driven dice betting application using Oraclize and <a href="#">Random.org</a>.<br> It is fair play and pure trust in meaning.</p>
        </div><!-- game title END -->
        <div class="cubedice">
          <div class="third-left"><h2>role the cubedice</h2></div>
          <div class="dice-placeholder">
            <div id="wrapper">


              <div id="platform">
                <div id="dice">
                  <div class="side front one">
                    <div class="dot center"></div>
                  </div>
                  <div class="side front inner"></div>
                  <div class="side top two">
                    <div class="dot dtop dleft"></div>
                    <div class="dot dbottom dright"></div>
                  </div>
                  <div class="side top inner"></div>
                  <div class="side right three">
                    <div class="dot dtop dleft"></div>
                    <div class="dot center"></div>
                    <div class="dot dbottom dright"></div>
                  </div>
                  <div class="side right inner"></div>
                  <div class="side left four">
                    <div class="dot dtop dleft"></div>
                    <div class="dot dtop dright"></div>
                    <div class="dot dbottom dleft"></div>
                    <div class="dot dbottom dright"></div>
                  </div>
                  <div class="side left inner"></div>
                  <div class="side bottom five">
                    <div class="dot center"></div>
                    <div class="dot dtop dleft"></div>
                    <div class="dot dtop dright"></div>
                    <div class="dot dbottom dleft"></div>
                    <div class="dot dbottom dright"></div>
                  </div>
                  <div class="side bottom inner"></div>
                  <div class="side back six">
                    <div class="dot dtop dleft"></div>
                    <div class="dot dtop dright"></div>
                    <div class="dot dbottom dleft"></div>
                    <div class="dot dbottom dright"></div>
                    <div class="dot center dleft"></div>
                    <div class="dot center dright"></div>
                  </div>
                  <div class="side back inner"></div>
                  <div class="side cover x"></div>
                  <div class="side cover y"></div>
                  <div class="side cover z"></div>
                </div>
              </div>


            </div>
            <div class="actions">
              <a class="main-action roll-dice" id='roll_button' onclick="onRoll()" href="#">Roll it</a>
              <a class="main-action stop-dice" id='stop_button' onclick="onStop()" href="#">Stop</a>
            </div>
          </div>
          <div class="third-right"><h2>win the pot</h2></div>
        </div>
      </div>
      <div class="clearfx"></div>
    </section><!-- game start -->



    <section class="lists">
      <div class="half"><!-- table beets -->
        <h3>game history</h3>
        <table class="table-beets">
          <tr>
            <th>Address</th>
            <th>Bid</th>
            <th>Total bids (eth)</th>
            <th>Refunds (eth)</th>
            <th>Wins (eth)</th>
          </tr>
          <tr>
            <td><a href="#">0x336f45b56ce1a20d0b5ebe7a5ac107da260364e0</a></td>
            <td class="dice-list"><img src="images/dice-1.svg"><img src="images/dice-3.svg"><img src="images/dice-4.svg"></td>
            <td class="bidon">2.45-eth</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><a href="#">0x336f45b56ce1a20d0b5ebe7a5ac107da260364e0</a></td>
            <td class="dice-list"><img src="images/dice-2.svg"></td>
            <td class="bidon">2.45-eth</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><a href="#">0x336f45b56ce1a20d0b5ebe7a5ac107da260364e0</a></td>
            <td class="dice-list"><img src="images/dice-6.svg"></td>
            <td class="bidon">2.45-eth</td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div><!-- table beets END -->
    </section>
  </main>

  <div class="popup-wrap" id="overlay">
    <div class="overlay"></div>
    <div class="popupin"><!-- popup in -->
      <a class="close" href="#"></a>
      <h2>choose your lucky number</h2>
      <div class="chouse-number">
        <a class="no-1 front" onclick="selectBet(this, 1)" href="#"></a>
        <a class="no-2 top" onclick="selectBet(this, 2)" href="#"></a>
        <a class="no-3 right" onclick="selectBet(this, 3)" href="#"></a>
        <a class="no-4 left" onclick="selectBet(this, 4)" href="#"></a>
        <a class="no-5 bottom" onclick="selectBet(this, 5)" href="#"></a>
        <a class="no-6 back" onclick="selectBet(this, 6)" href="#"></a>
      </div>
        <div class="footer-inpop">
          <div class="halfs">
            <div class="pays">
              <h3>Winning Bid Pays</h3>
              <span class="amount">1.96</span>
            </div>
            <div class="your-bid">
              <h3>Place Your Bet</h3>
              <span id="decrease" class="minus"></span>
              <input id="number" class="bid-amount" type="number" min="0" max="100" placeholder="0.5">
              <span id="increase" class="plus"></span>
            </div>
            <div class="clear"></div>
          </div>
          <a class="main-action" id="bet_button" onclick="completeBet()" href="#">Place</a>
      </div>
    </div><!-- popup in END -->
  </div>

  <script>
      var settingsContractAddress="{{contract}}";
      var abi = JSON.parse("{{contract_abi|escapejs}}");
      var translator = {
        1: 'one',
        2: 'two',
        3: 'three',
        4: 'four',
        5: 'five',
        6: 'six',
      }
      var startDate = null;
      var diff = null;
      var popupOpened = false;
      var choiced = null;
      var choicedVals = [];


      function onRoll(){
        startDate = new Date();
        var rollButton = document.getElementById("roll_button");
        rollButton.style.top = "-5rem";
        var stopButton = document.getElementById("stop_button");
        stopButton.style.top = "2rem";
        var pl = document.getElementById("platform");
        pl.classList.add("running");
        setTimeout(function(){
          el = document.getElementById("overlay");
          if(el.style.opacity == 0 && !popupOpened){
            el.style.opacity = "1";
            stopButton.style.top = "-5rem";
            popupOpened = true;
          }
        }, 30000)
      }

      function selectBet(e, choice){
        if(document.getElementById("overlay").style.opacity == 1){
          if(e.classList.contains('disabledVal')) return;
          choiced = translator[choice];
          var i = choicedVals.indexOf(choice);
          var side = document.querySelectorAll(".bet_area .side." + choiced)
          if(i >= 0){ //found
            side[0].classList.remove('selected');
            choicedVals = choicedVals.filter(function(o){ return o !== choice});
          } else{
            side[0].classList.add('selected');
            choicedVals.push(choice)
          }
          if(choicedVals.length <= 0){
            document.getElementById("bet_button").disabled = true;
          } else{
            document.getElementById("bet_button").disabled = false;
          }
          if(choicedVals.length === 5){
            var notDisabled = document.querySelectorAll(".bet_area .side:not(.selected)")
            notDisabled[0].classList.add('disabledVal');
          }
          else{
            var disabled = document.querySelectorAll(".bet_area .side.disabledVal");
            if(disabled[0]) disabled[0].classList.remove('disabledVal');
          }
        }
      }

      function checkMetamask(){
        if (typeof web3 === 'undefined') {
          return '<div>You need to install <a href=“https://metmask.io“>MetaMask </a> first</a></div>';
        }
        if (web3.eth.accounts.length === 0) {
          return '<div>You need to log in to <a href=“https://metmask.io“>MetaMask </a> first</a></div>';
        }
        return null;
      }

      function completeBet(){
        var modal = document.getElementById("overlay");
        if(diff === null){
          var error = document.getElementById("error-message");
          var errorMessage = checkMetamask();
          if(errorMessage !== null){
            error.innerHTML = errorMessage;
            return;
          }

          var user_address = web3.eth.accounts[0]
          var contractAbi = web3.eth.contract(abi);
          var myContract = contractAbi.at(settingsContractAddress);
          var getData = myContract.rollDice.getData(choicedVals);
          web3.eth.sendTransaction({
            to: settingsContractAddress,
            from: user_address,
            value: web3.toWei('0.0666', 'ether'),
            data: getData
          }, function (err, transactionHash) {
            if (err){
              console.log('There was a problem!: ' + err.message);
              return;
            }
            var txInfo = document.getElementById('txInfo');
            txInfo.innerHTML = 'Waiting for your transaction <a href=http://ropsten.etherscan.io/tx/'+transactionHash+' target="_blank"> '+transactionHash+'</a> to clear on the network..';
            sendTxData(transactionHash, 0.0666, user_address);
            modal.style.opacity = "0";
            diff = Math.floor((new Date() - startDate)/1000);
            var platform = document.getElementById('platform');
            var dice = document.getElementById('dice');
            platform.setAttribute('style', 'animation-iteration-count: ' + (diff + 2).toString())
            dice.setAttribute('style', 'animation-iteration-count: ' + (Math.ceil(diff/2) + 4).toString())
          })
        }
      }

      function sendTxData(txHash, amount, wallet){
        var formData = new FormData();
        formData.append("wallet", wallet);
        formData.append("value", txHash);
        formData.append("amount", amount);
        choicedVals.forEach(function(v){
          formData.append('numbers[]', v);
        });

        fetch('/ajax/bet', {
          method: "POST", // *GET, POST, PUT, DELETE, etc.
          headers: {
            'X-CSRFToken': "{{csrf_token}}"
          },
          body: formData
        })
      }

      function playAgain(){
        var playAgainButton = document.getElementById("play_again_button");
        playAgainButton.style.top = "-5rem";
        var rollButton = document.getElementById("roll_button");
        var platform = document.getElementById("platform");
        var dice = document.getElementById("dice");
        platform.className = "";
        platform.setAttribute('style', '');
        dice.className = "";
        dice.setAttribute('style', '');
        document.getElementsByClassName('result')[0].classList.remove('result')
        var sel = document.getElementsByClassName('selected');
        [].forEach.call(sel, function (el) {
          el.classList.remove('selected');
        });
        rollButton.style.top = "2rem";
        startDate = null;
        diff = null;
        choiced = null;
        choicedVals = [];
      }

      function onStop(){
        popupOpened = true;
        var el = document.getElementById("overlay");
        el.style.opacity = "1";
        var stopButton = document.getElementById("stop_button");
        stopButton.style.top = "-5rem";
      }

      function onEnd(e){
        console.log(e.animationName);

        var platform = document.getElementById("platform");
        if(e.animationName === 'roll' && choiced !== null){
          var res = Math.floor(Math.random() * 6) + 1;
          // platform.classList.add('pokusAnim');
          platform.classList.add(choiced + 'Anim');
        }
        if(e.animationName === 'endAnim'){
          var res = document.getElementsByClassName(choiced)[0];
          res.classList.add('result');
          var playAgainButton = document.getElementById("play_again_button");
          playAgainButton.style.top = "2rem";
        }
      }
      var platform = document.getElementById("platform");
      platform.addEventListener("webkitAnimationEnd", onEnd);
      platform.addEventListener("animationend", onEnd);
    </script>

</body>
</html>
