@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Merienda+One');

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*-- general css --*/
html {
  font-size: 62.5%;
}
body {
  background: #f6f6f6;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}
h1 {
  font-size: 5rem;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.9;
  margin-bottom: 3rem;
  text-align: center;
}
.clearfx {
  clear: both;
}

.center {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
h3, .small-title, .over-wrap .finish-line span,
.player-pin .info .top-bid, .popup-wrap .pop-footer .info {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.9rem;
  color: #666;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
  font-weight: 300;
}
h2 {
  font-size: 3.8rem;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 1.6rem 0;
  box-sizing: border-box;
  z-index: 100;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
  text-align: center;
}
.main-header a {
  text-decoration: none;
}
.main-header img {
  max-width: 13rem;
  margin: 0 0.6rem -0.3rem 0;
}
.main-header span {
  font-size: 2.6rem;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.main-header a:hover span {
  color: #333;
}
/*-- game title --*/
.game-start {
  padding: 12rem 0;
}
.game-title {
  padding-bottom: 6rem;
}
.game-title .disclaimer {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.6;
  color: #333;
}
.game-title .disclaimer a {
  text-decoration: underline;
  color: #333;
}
.game-title .disclaimer a:hover {
  color: #2573b7;
}


/*-- cubedice --*/
.cubedice {
  margin: 6rem 0 9rem;
}
.cubedice .third-left {
  float: left;
  width: 30%;
  padding-top: 6rem;
}
.cubedice h2 {
  position: relative;
}
.cubedice .third-left h2::after {
  content: '';
  display: block;
  width: 18.9rem;
  height: 5.9rem;
  position: absolute;
  left: 50%;
  top: 106%;
  background: url('../images/arrow-1.png') no-repeat;
}
.cubedice .third-right {
  float: right;
  width: 30%;
  text-align: right;
}
.cubedice .third-right h2::after {
  content: '';
  display: block;
  width: 18.3rem;
  height: 5.5rem;
  position: absolute;
  right: 50%;
  top: 106%;
  background: url('../images/arrow-2.png') no-repeat;
}
.cubedice .dice-placeholder {
  float: left;
  width: 40%;
}
.cubedice .main-action {
  width: 13rem;
  margin: 0 auto;
  float: none;
  display: block;
  text-align: center;
}
.cubedice .main-action.stop-dice {
  display: none;
}
.actions {
  text-align: center;
}
#wrapper {
  height: 40rem;
}

.main-action {
  font-size: 3.3rem;
  padding: 1.3rem 6rem;
  background: #af1e2d;
  border-radius: 6rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
}
.main-action:hover {
  background: #89121e;
}

/*-- table list --*/
.lists {
  margin: 0 2rem 6rem;
  overflow: hidden;
}
.lists .half {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
}
.lists .half h3 {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}
.lists .half h3::after {
  content: '';
  position: absolute;
  right: 6rem;
  width: 3.4rem;
  height: 3rem;
  display: inline-block;
  background: url(../images/crown.svg) no-repeat;
  background-size: cover;
  margin-bottom: -0.5rem;
}
.lists table {
  margin-bottom: 2rem;
  border: solid 1px #bbb;
  background: #fff;
  width: 100%;
}
.lists table tr {
  border-bottom: solid 1px #bbb;
}
.lists table tr:nth-child(even) {
  background: #f7f7f7;
}
.lists table th, .lists table td {
  padding: 2rem 1rem;
}
.lists table td {
  font-size: 1.4rem;
  vertical-align: middle;
}
.lists table a {
  color: #333;
  text-decoration: none;
}
.lists table a:hover {
  color: #165c9a;
}
.lists table .name {
  display: block;
  font-size: 2.3rem;
  color: #333;
  font-weight: 700;
  padding-bottom: 0.5rem;
}
.lists table .time {
  display: block;
  color: #666;
  padding: 0.5rem 0 0.2rem;
}
.lists table tr td:last-child, .lists table.table-winners tr td:nth-child(2) {
  font-size: 1.9rem;
  color: #999;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}
.lists table th {
  color: #666;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  padding: 1.6rem 1rem;
}
.lists table th:last-child, .lists table.table-winners th:nth-child(2) {
  text-align: center;
}
.lists .dice-list img {
  display: block;
  float: left;
  max-width: 2rem;
}
.lists .dice-list img:not(:last-child) {
  margin-right: 1rem;
}
.lists .bidon {
  font-weight: bold;;
  color: #4A90E2;
}

/*- adons css --*/
.eth-small {
  font-size: 60%;
}
/*-- popup --*/
.popup-wrap {
  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease;
}
.popup-wrap.active {
  opacity: 1;
  z-index: 101;
}
.popup-wrap, .popup-wrap .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.popup-wrap .overlay {
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
  display: block;
}
.popup-wrap .popupin {
  position: relative;
  top: 50%;
  max-width: 654px;
  margin: -308px auto 0;
  padding-top: 4rem;
  background: #fff;
  box-sizing: border-box;
}
.popup-wrap .popupin .close {
  position: absolute;
  right: 0;
  top: 0;
  margin: -2.1rem -2.1rem 0 0;
  width: 4.2rem;
  height: 4.2rem;
  background: #999 url('../images/close.svg') no-repeat center;
  background-size: 60%;
  border-radius: 100%;
}
.popup-wrap .popupin h2 {
  text-align: center;
  margin-bottom: 3rem;
}
.popup-wrap .input-wrap {
  margin-bottom: 3rem;
  padding: 0 4rem;
}
.popup-wrap .input-wrap input {
  width: 100%;
  padding: 1rem;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.9rem;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
  background: #f6f7f9;
  border-radius: 0.3rem;
  color: #333;
  border: solid 1px #999;
  box-sizing: border-box;
  outline: none;
}
.popup-wrap .input-wrap input:focus {
  background: #fff;
}
.popup-wrap .input-wrap p {
  color: #999;
  font-size: 1.4rem;
}
.popup-wrap .pop-footer {
  padding: 3rem;
  text-align: center;
  background: #f2f2f2;
}
.popup-wrap .pop-footer .info {
  letter-spacing: 0;
  display: block;
}
.popup-wrap .pop-footer .outbid-amount {
  font-size: 3.8rem;
  color: #af1e2d;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.chouse-number {
  padding: 2rem 3rem 3rem;
  text-align: center;
}
.chouse-number a {
  display: inline-block;
  width: 10.9rem;
  border-radius: 1rem;
  height: 11rem;
  background: #ccc;
  margin: 2rem;
  border: solid 2px #fff;
}
.chouse-number a.no-1 { background: url('../images/dice-1.svg') no-repeat; }
.chouse-number a.no-2 { background: url('../images/dice-2.svg') no-repeat; }
.chouse-number a.no-3 { background: url('../images/dice-3.svg') no-repeat; }
.chouse-number a.no-4 { background: url('../images/dice-4.svg') no-repeat; }
.chouse-number a.no-5 { background: url('../images/dice-5.svg') no-repeat; }
.chouse-number a.no-6 { background: url('../images/dice-6.svg') no-repeat; }
.chouse-number a.active {
  border: solid 2px #AF1E2D;
  background-color: #AF1E2D;
}
.footer-inpop {
  background: #F1F1F1;
  padding: 3rem 0 5rem;
  text-align: center;
}
.halfs {
  text-align: center;
  margin-bottom: 6rem;
  overflow: hidden;
}
.halfs .pays {
  width: 50%;
  float: left;
}
.halfs h3 {
  font-size: 2.3rem;
  font-weight: bold;
  text-transform: none;
  letter-spacing: 0;
  padding-bottom: 1rem;
}
.halfs .amount {
  font-size: 6.3rem;
  color: #AF1E2D;
  font-weight: bold;
}
.halfs .amount::before {
  content: '';
  display: inline-block;
  margin-right: 1rem;
  width: 5.9rem;
  height: 5.8rem;
  background: url('../images/eth-bag.svg') no-repeat;
}
.halfs .amount::after {
  content: '';
  display: inline-block;
  margin-left: 1rem;
  width: 3.8rem;
  height: 3.8rem;
  background: url('../images/amount-plus.svg') no-repeat;
}
.halfs .your-bid {
  float: right;
  width: 50%;
}
.halfs .your-bid h3 {
  margin-bottom: 1.6rem;
}
.halfs .your-bid span {
  display: inline-block;
  cursor: pointer;
}
.halfs .your-bid input {
  font-size: 4rem;
  padding: 1rem;
  background: #fff;
  border: solid 1px #979797;
  color: #4A4A4A;
  outline: none;
  width: 15rem;
  display: inline-block;
  margin-top: -3rem;
  font-weight: bold;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.halfs .your-bid span {
  width: 4rem;
  height: 4rem;
  margin: 0 1rem;
  display: inline-block;
  background-position: center;
}
.halfs .your-bid span.minus {
  background: url('../images/minus.svg') no-repeat;
  background-position: center;
}
.halfs .your-bid span.plus {
  background: url('../images/plus.svg') no-repeat;
  background-position: center;
}


@media only screen and (max-width: 1400px) {
  .over-wrap .finish-line {
    right: 0;
    border-left: 0;
    padding: 0 0.9rem 0 0;
    border-right: solid 1px #af1e2d;
    margin-right: 0;
    text-align: right;
  }
}
@media only screen and (max-width: 1200px) {
  .lists .half {
    float: none!important;
    width: 100%;
    max-width: 100rem;
    margin: 0 auto 2rem;
  }
  .prize-holder {
    margin: 0 2rem;
  }
  .time-center {
    margin: -7px 2rem 0;
  }
  .over-wrap {
    margin: -22px 2rem 0;
  }
}
@media only screen and (max-width: 960px) {
  .arrow-1::after, .arrow-2::after {
    display: none;
  }
  .prize-holder .countdown {
    font-size: 2.8rem;
  }
  .game-title {
    padding: 0 2rem 6rem;
  }
  .prize-holder .title .vert-cent, .prize-holder .worth .vert-cent {
    top: auto;
    bottom: 0;
    transform: none;
  }
}
