


Cryptodice2.win is a smart-contract-driven dice betting application using oraclize and random.org

Cryptodice2 generate a random number from Random.org via Oraclize.

The house edge is 2% will be charged for winning users.

There is not 3rd party to generate or control random number, so its a pure trust in meaning.

Users don't have to sign up or deposit Ethereum on the platform.

All you need is to install MetaMask on your Chrome browser and unlock it.

It's completely open-source and for you to enjoy :)


FAQ:

Q: Do I need to sign up or deposit money?

A: No, you do not need to deposit any money, simply install Metamask and play :)



Have fun!
