


Cryptodice2 generates it's random number from Random.org via Oraclize.

The house edge is 4% and will be charged for winning users.

There is no 3rd party to generate or control random number, so its a pure trust in meaning.

Users don't have to sign up or deposit Ethereum on the platform.

All you need is to install MetaMask on your web browser and unlock it.

It's completely open-source and for you to enjoy :)


FAQ:

Q: Do I need to sign up or deposit money?

A: No, you do not need to deposit any money, simply install Metamask in your web browser and unlock it. :)


Q: Where do I find the contract?

A: Cryptodice2 smart-contract can be seen on here 0x....


Q: If I win, how do I cash out?

A: If you win, you will get paid instantly.  The money are deposited to your account.  The smart-contract is there to assure that.  :)



Have fun!
