{% load humanize %}
{% load dice_extras %}

{% if my_games %}
<section id="my_games">
{% else %}
<section>
{% endif %}

<div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
    <thead>
        <tr>
            <th width="75">created</th>
            <th width="120">numbers</th>
            {% if not my_games %}
                <th width="255">player</th>
            {% endif %}
            <th width="420">transaction</th>
            <th width="55"></th>
            <th width="20"></th>
            <th width="11"></th>
            <th></th>
        </tr>
    </thead>
    </table>
</div>
<div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
    <tbody>

        {% for game in games %}
        <tr>
            <td width="115">{{game.created|naturaltime}}</td>
            <td width="115">
                {% if game.status %}
                        {% if game.win_number %}
                            {{game.win_number}}
                        {% else %}
                            ?
                        {% endif %}
                        &nbsp;
                        &nbsp;
                        {% for number in game.numbers|get_list_from_string %}
                            {% if number == game.win_number %}
                            <img src="/static/images/dice-red.png" width=14>
                            {% else %}
                            <img src="/static/images/dice-wite.png" width=14>
                            {% endif %}
                        {% endfor %}
                {% else %}
                    ?
                {% endif %}
            </td>
            {% if not my_games %}
                <td width="280">
                    <a href="http://etherscan.io/address/{{game.player}}" target="_blank">
                        <!-- font color like a fucking pig -->
                        <font color="white">
                            {{game.player}}
                        </font>
                    </a>
                </td>
            {% endif %}
            <td width="430">
                {% if game.callback_tx_hash %}
                <a href="http://etherscan.io/tx/{{game.callback_tx_hash}}" target="_blank">
                {% else %}
                <a href="http://etherscan.io/tx/{{game.tx_hash}}" target="_blank">
                {% endif %}
                    <font color="lightgrey">
                    {{game.tx_hash}}
                    </font>
                </a>
            </td>
            <td width="70">{{game.numbers}}</td>
            <td width="23">{{game.amount}}</td>
            {% if game.win_amount %}
                {% if game.win_amount > 0.01 %}
                <td width="30" style="text-align:center">{{game.win_amount|floatformat:"5"}}</td>
                {% else %}
                <td width="30" style="text-align:center">0.01135</td>
                {% endif %}
            {% else %}
                <td width="30" style="text-align:center">-</td>
            {% endif %}
            {% if game.status %}
                {% if game.win_bet %}
                    {% if my_games %}
                        <td width="45">you win</td>
                    {% else %}
                        <td width="45">winning</td>
                    {% endif %}
                {% else %}
                   <td width="45">&#10003;</td>
                {% endif %}
            {% else %}
                <td width="45"><b>pending</b></td>
            {% endif %}
        </tr>
        {% endfor %}

    </tbody>
    </table>
</div>

</section>
