{% load humanize %}
{% load dice_extras %}

<section>
<h1>My Games</h1>
<div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
    <thead>
        <tr>
            <th width="75">created</th>
            <th width="110">numbers</th>            
            <th width="255">player</th>
            <th width="420">transaction</th>
            <th width="55"></th>
            <th width="20"></th>
            <th width="11"></th>
            <th></th>
        </tr>
        </thead>
    </table>
</div>
<div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
    <tbody>

        {% for game in my_games %}
        <tr>
            <td width="90">{{game.created|naturaltime}}</td>
            <td width="120">
                {% if game.win_number %}
                    {{game.win_number}}
                {% else %}
                    ?
                {% endif %}
                &nbsp;
                &nbsp;    
                {% for number in game.numbers|get_list_from_string %}
                    🎲
                {% endfor %}
            </td>
            <td width="265">
                <a href="http://ropsten.etherscan.io/tx/{{game.player}}" target="_blank">
                    <!-- font color like a fucking pig -->
                    <font color="white">
                        {{game.player}}
                    </font>
                </a>
            </td>
            <td width="430">
                <a href="http://ropsten.etherscan.io/tx/{{game.tx_hash}}" target="_blank">
                    <font color="lightgrey">
                    {{game.tx_hash}}
                    </font>
                </a>
            </td>
            <td width="70">{{game.numbers}}</td>
            <td width="20">{{game.amount}}</td>
            {% if game.win_amount %}
                <td width="30" style="text-align:center">{{game.win_amount}}</td>
            {% else %}
                <td width="30" style="text-align:center">-</td>
            {% endif %}
            {% if game.status %}
                {% if game.win_bet %}
                    <td width="45">winning</td>
                {% else %}
                   <td width="45">confirmed</td>
                {% endif %}
            {% else %}
                <td width="45">pending</td>
            {% endif %}
        </tr>
        {% endfor %}

    </tbody>
    </table>
</div>
</section>
