{% load humanize %}
{% load dice_extras %}

<!DOCTYPE html>
<html>
  <head>
    <link rel=stylesheet type="text/css" href="/static/css/main.css">
    </script>
  </head>
  <body>
    <header class="main-header">
      <a href="#">
        <img alt="git" src="/static/images/dice-logo.png" height="30"/>
        <span>CryptoDice2.win</span>
      </a>
    </header>
    <div class="game-title"><!-- game title -->
      <p class="disclaimer">
          Ethereum Dice is a <a href="https://ropsten.etherscan.io/address/{{contract}}" target="_blank">smart-contract-driven</a> dice betting application using Oraclize and <a href="#">Random.org</a>.
          <br/> 
          It is 100% <a href="https://github.com/jparicka">open-source</a>, fair play and pure <a href="https://medium.com/@tomroa/the-trust-protocol-how-blockchain-will-change-the-internet-e3c3101561c1" target="_blank">trust in meaning</a>.
      </p>
    </div><!-- game title END -->
    <button id='roll_button' class="btn btn-5" onclick="onRoll()">Roll It!</button>
    <button id='stop_button' class="btn btn-5" onclick="onStop()">Stop!</button>
    <button id='play_again_button' class="btn btn-5" onclick="playAgain()">Play again!</button>
  <div id="wrapper">
    <div id="platform">
      <div id="dice">
        <div class="side front one">
          <div class="dot center"></div>
        </div>
        <div class="side front inner"></div>
        <div class="side top two">
          <div class="dot dtop dleft"></div>
          <div class="dot dbottom dright"></div>
        </div>
        <div class="side top inner"></div>
        <div class="side right three">
          <div class="dot dtop dleft"></div>
          <div class="dot center"></div>
          <div class="dot dbottom dright"></div>
        </div>
        <div class="side right inner"></div>
        <div class="side left four">
          <div class="dot dtop dleft"></div>
          <div class="dot dtop dright"></div>
          <div class="dot dbottom dleft"></div>
          <div class="dot dbottom dright"></div>
        </div>
        <div class="side left inner"></div>
        <div class="side bottom five">
          <div class="dot center"></div>
          <div class="dot dtop dleft"></div>
          <div class="dot dtop dright"></div>
          <div class="dot dbottom dleft"></div>
          <div class="dot dbottom dright"></div>
        </div>
        <div class="side bottom inner"></div>
        <div class="side back six">
          <div class="dot dtop dleft"></div>
          <div class="dot dtop dright"></div>
          <div class="dot dbottom dleft"></div>
          <div class="dot dbottom dright"></div>
          <div class="dot center dleft"></div>
          <div class="dot center dright"></div>
        </div>
        <div class="side back inner"></div>
        <div class="side cover x"></div>
        <div class="side cover y"></div>
        <div class="side cover z"></div>
      </div>
    </div>
  </div>
  <div id="txInfo"></div>
  <div id="error-overlay">
      <div class="modal_content">
          <h2>Metamask</h2>
          <div id="popup-error-message"></div>
          <img id="popup-error-image"><img>
          <button class="btn btn-5" onclick="hideErrorPopup()">OK</button>
      </div>
  </div>
  <div id="overlay">
    <div class="modal_content">
      <h1>What are your lucky numbers?</h1>
      <div class="bet_area">
        <div>
          <div onClick="selectBet(this, 1)" class="side front one">
            <div class="dot center"></div>
          </div>
          <div onClick="selectBet(this, 2)" class="side top two">
            <div class="dot dtop dleft"></div>
            <div class="dot dbottom dright"></div>
          </div>
          <div onClick="selectBet(this, 3)" class="side right three">
            <div class="dot dtop dleft"></div>
            <div class="dot center"></div>
            <div class="dot dbottom dright"></div>
          </div>
        </div>
        <div>
          <div onClick="selectBet(this, 4)" class="side left four">
            <div class="dot dtop dleft"></div>
            <div class="dot dtop dright"></div>
            <div class="dot dbottom dleft"></div>
            <div class="dot dbottom dright"></div>
          </div>
          <div onClick="selectBet(this, 5)" class="side bottom five">
            <div class="dot center"></div>
            <div class="dot dtop dleft"></div>
            <div class="dot dtop dright"></div>
            <div class="dot dbottom dleft"></div>
            <div class="dot dbottom dright"></div>
          </div>
          <div onClick="selectBet(this, 6)" class="side back six">
            <div class="dot dtop dleft"></div>
            <div class="dot dtop dright"></div>
            <div class="dot dbottom dleft"></div>
            <div class="dot dbottom dright"></div>
            <div class="dot center dleft"></div>
            <div class="dot center dright"></div>
          </div>
        </div>
      </div>
      <div class="amount_area">
        <div class="flex">
          <div class="pays">
            <h3>Winning Bid Pays</h3>
            <div class="flex flex-center">
              <span class="amount-before icon"></span>
              <span id="bid-pays" class="amount darker">5.89</span>
              <span class="amount-after icon"></span>
            </div>
          </div>
          <div class="your-bid">
            <h3>Place Your Bet</h3>
            <span id="decrease" class="minus" onclick="decreaseBid()"></span>
            <input id="bidNumber" class="bid-amount" type="number" value="0.15">
            <span id="increase" class="plus" onclick="increaseBid()"></span>
          </div>
        </div>
        <button id='bet_button' class="btn btn-5 modal-btn" disabled onclick="completeBet()">Let's go!</button>
      </div>
      </div>
    </div>
   </div>
  <script>
      var settingsContractAddress="{{contract}}";
      var abi = JSON.parse("{{contract_abi|escapejs}}");
      var translator = {
        1: 'one',
        2: 'two',
        3: 'three',
        4: 'four',
        5: 'five',
        6: 'six',
      }
      var winMultiplication = {
        0: 5.89,
        1: 5.89,
        2: 2.93,
        3: 1.95,
        4: 1.42,
        5: 1.07
      }
      var metamaskErrors = {
        missing: {
          title: 'Install Metamask',
          message: '<div>xxx-move-picture-above<br/>You need to install Metamask to be able to play.<br/>Metamask is an Ethereum Wallet extension for your browser.</a></div>',
          image: '/static/images/metamask.png',
          popupWidth: -1
        },
        notLoggedIn: {
          title: 'Metamask',
          message: '<div>Your Metamask is Locked.<br/>xxx-todo-move-picture-here<br/>Simply open Metamask and follow the instructions to unlock it.</div>',
          image: '/static/images/metamask.png',
          popupWidth: -1
        },
        wrongNetwork: {
          title: 'Metamask Network',
          message: "<div>Oops, you're on the wrong network.<br/>xxx-todo-move-picture-here<br/>Simply open Metamask and switch over to Main Ethereum Network.</br></br></div>",
          image: '/static/images/metamask-main-network.png',
          popupWidth: -1
        },
      }
      var startDate = null;
      var diff = null;
      var popupOpened = false;
      var choiced = null;
      var choicedVals = [];
  
      function onRoll(){
        startDate = new Date();
        var rollButton = document.getElementById("roll_button");
        rollButton.style.bottom = "-10rem";
        var stopButton = document.getElementById("stop_button");
        stopButton.style.bottom = "2rem";
        var pl = document.getElementById("platform");
        pl.classList.add("running");
        setTimeout(function(){
          el = document.getElementById("overlay");
          if(el.style.opacity == 0 && !popupOpened){
            el.style.opacity = "1";
            el.style.zIndex = "100";
            stopButton.style.top = "-10rem";
            popupOpened = true;
          }
        }, 30000)
      }

      function decreaseBid(){
        var n = document.getElementById('bidNumber');
        var val = Math.max(0, n.valueAsNumber - 0.05).toFixed(2);
        n.value = val;
      }

      function increaseBid(){
        var n = document.getElementById('bidNumber');
        var val = Math.min(10, n.valueAsNumber + 0.05).toFixed(2);
        n.value = val;
      }

      function selectBet(e, choice){
        if(document.getElementById("overlay").style.opacity == 1){
          if(e.classList.contains('disabledVal')) return;
          choiced = translator[choice];
          var i = choicedVals.indexOf(choice);
          var side = document.querySelectorAll(".bet_area .side." + choiced)
          if(i >= 0){
            side[0].classList.remove('selected');
            choicedVals = choicedVals.filter(function(o){ return o !== choice});
          } else{
            side[0].classList.add('selected');
            choicedVals.push(choice)
          }
          if(choicedVals.length <= 0){
            document.getElementById("bet_button").disabled = true;
          } else{
            document.getElementById("bet_button").disabled = false;
          }
          if(choicedVals.length === 5){
            var notDisabled = document.querySelectorAll(".bet_area .side:not(.selected)")
            notDisabled[0].classList.add('disabledVal');
          }
          else{
            var disabled = document.querySelectorAll(".bet_area .side.disabledVal");
            if(disabled[0]) disabled[0].classList.remove('disabledVal');
          }
          var bidPays = document.getElementById('bid-pays');
          bidPays.innerText = winMultiplication[choicedVals.length];
          if(choicedVals.length === 0){
            bidPays.classList.add('darker');
          }
          else{
            bidPays.classList.remove('darker');
          }
        }
      }
  
      function checkMetamask(){
        var error = null;
        if (typeof web3 === 'undefined') {
          error =  'missing';
        }
        else if (web3.eth.accounts.length === 0) {
          error = 'notLoggedIn';
        }
        else if (web3.version.network !== "3"){
          error =  'wrongNetwork';
        }
        if(error === null) return true;
        var modal = document.getElementById("error-overlay");
        modal.style.opacity = "1";
        modal.style.zIndex = "100";
        var stopButton = document.getElementById("stop_button");
        stopButton.style.bottom = "-10rem";
        var message = document.getElementById('popup-error-message');
        var image = document.getElementById('popup-error-image');
        message.innerHTML = metamaskErrors[error].message;
        image.src = metamaskErrors[error].image;
        return false;
      }
  
      function completeBet(){
        var modal = document.getElementById("overlay");
        if(diff === null){
          if(!checkMetamask()) return;          
          var user_address = web3.eth.accounts[0];
          var contractAbi = web3.eth.contract(abi);
          var myContract = contractAbi.at(settingsContractAddress);
          var getData = myContract.rollDice.getData(choicedVals);
          web3.eth.sendTransaction({
            to: settingsContractAddress,
            from: user_address,
            value: web3.toWei(document.getElementById('bidNumber').value, 'ether'),
            data: getData
          }, function (err, transactionHash) {
            if (err){
              console.log('There was a problem!: ' + err.message);
              return;
            }
            var txInfo = document.getElementById('txInfo');
            txInfo.innerHTML = 'Your transaction <a href=http://ropsten.etherscan.io/tx/'+transactionHash+' target="_blank"> '+transactionHash+'</a> is pending to clear on the network..';
            sendTxData(transactionHash, document.getElementById('bidNumber').valueAsNumber, user_address);

            modal.style.opacity = "0";
            modal.style.zIndex = "1";
            diff = Math.floor((new Date() - startDate)/1000);
            var platform = document.getElementById('platform');
            var dice = document.getElementById('dice');
            platform.setAttribute('style', 'animation-iteration-count: ' + (diff + 2).toString())
            dice.setAttribute('style', 'animation-iteration-count: ' + (Math.ceil(diff/2) + 4).toString())
          })
        }
      }

      function sendTxData(txHash, amount, wallet){
        var formData = new FormData();
        formData.append("wallet", wallet);
        formData.append("value", txHash);
        formData.append("amount", amount);
        choicedVals.forEach(function(v){
          formData.append('numbers[]', v);
        });
        fetch('/ajax/player/update', {
          method: "POST", // *GET, POST, PUT, DELETE, etc.
          headers: {
            'X-CSRFToken': "{{csrf_token}}"
          },
          body: formData
        })
      }

      function playAgain(){
        var playAgainButton = document.getElementById("play_again_button");
        playAgainButton.style.bottom = "-10rem";
        var rollButton = document.getElementById("roll_button");
        var platform = document.getElementById("platform");
        var dice = document.getElementById("dice");
        platform.className = "";
        platform.setAttribute('style', '');
        dice.className = "";
        dice.setAttribute('style', '');
        document.getElementsByClassName('result')[0].classList.remove('result')
        var sel = document.getElementsByClassName('selected');
        while (sel.length) sel[0].classList.remove('selected');
        rollButton.style.bottom = "2rem";
        var bidPays = document.getElementById('bid-pays');
        bidPays.classList.add('darker');
        bidPays.innerText = "5.89";
        document.getElementById('bidNumber').value = '0.15';
        startDate = null;
        diff = null;
        choiced = null;
        choicedVals = [];
        onRoll();
      }
  
      function onStop(){
        popupOpened = true;
        if(!checkMetamask()) return;
        var el = document.getElementById("overlay");
        el.style.opacity = "1";
        el.style.zIndex = 100;
        var stopButton = document.getElementById("stop_button");
        stopButton.style.bottom = "-10rem";
      }

      function hideErrorPopup(){
        var modal = document.getElementById("error-overlay");
        modal.style.opacity = "0";
        modal.style.zIndex = "1";
        var rollButton = document.getElementById("roll_button");
        rollButton.style.bottom = "2rem";
        playAgain();
      }
  
      function onEnd(e){
        var platform = document.getElementById("platform");
        if(e.animationName === 'roll' && choiced !== null){
          var res = Math.floor(Math.random() * 6) + 1;
          // platform.classList.add('pokusAnim');
          platform.classList.add(choiced + 'Anim');
        }
        if(e.animationName === 'endAnim'){
          var res = document.getElementsByClassName(choiced)[0];
          res.classList.add('result');
          var playAgainButton = document.getElementById("play_again_button");
          playAgainButton.style.bottom = "2rem";          
        }
      }
      var platform = document.getElementById("platform");
      platform.addEventListener("webkitAnimationEnd", onEnd);
      platform.addEventListener("animationend", onEnd);

      window.addEventListener('load', function() {
        web3.eth.getAccounts(function(error, accounts) {
          var formData = new FormData();
          formData.append("wallet", accounts[0]);
          fetch('/ajax/player/update', {
            method: "POST",
            headers: {
              'X-CSRFToken': "{{csrf_token}}"
            },
            body: formData
          })
        });
      });
    </script>


<!-- sorry ze som to len takto svacol skusam tabulky krmit data ze co tam mame -->

    {% if my_games %}
        {% include "my-games-table.html" %}
    {% endif %}

    {% include "games-table.html" %}

    {% include "footer.html" %}

  </body>
</html>
