<!DOCTYPE html>
<html>
  <head>
    <link rel=stylesheet type="text/css" href="/static/css/main.css">
    </script>
  </head>
  <body>
    <button id='roll_button' class="btn btn-5" onclick="onRoll()">Roll It!!!</button>
    <button id='stop_button' class="btn btn-5" onclick="onStop()">Stop!</button>
    <button id='play_again_button' class="btn btn-5" onclick="playAgain()">Play again!</button>
  <div id="wrapper">
    <div id="platform">
      <div id="dice">
        <div class="side front one">
          <div class="dot center"></div>
        </div>
        <div class="side front inner"></div>
        <div class="side top two">
          <div class="dot dtop dleft"></div>
          <div class="dot dbottom dright"></div>
        </div>
        <div class="side top inner"></div>
        <div class="side right three">
          <div class="dot dtop dleft"></div>
          <div class="dot center"></div>
          <div class="dot dbottom dright"></div>
        </div>
        <div class="side right inner"></div>
        <div class="side left four">
          <div class="dot dtop dleft"></div>
          <div class="dot dtop dright"></div>
          <div class="dot dbottom dleft"></div>
          <div class="dot dbottom dright"></div>
        </div>
        <div class="side left inner"></div>
        <div class="side bottom five">
          <div class="dot center"></div>
          <div class="dot dtop dleft"></div>
          <div class="dot dtop dright"></div>
          <div class="dot dbottom dleft"></div>
          <div class="dot dbottom dright"></div>
        </div>
        <div class="side bottom inner"></div>
        <div class="side back six">
          <div class="dot dtop dleft"></div>
          <div class="dot dtop dright"></div>
          <div class="dot dbottom dleft"></div>
          <div class="dot dbottom dright"></div>
          <div class="dot center dleft"></div>
          <div class="dot center dright"></div>
        </div>
        <div class="side back inner"></div>
        <div class="side cover x"></div>
        <div class="side cover y"></div>
        <div class="side cover z"></div>
      </div>
    </div>
  </div>
  <div id="txInfo"></div>
  <div id="overlay">
    <div class="modal_content">
        <h1>What is your bet?</h1>
        <div id="error-message"></div>
        <div class="bet_area">
          <div>
            <div onClick="selectBet(this, 1)" class="side front one">
              <div class="dot center"></div>
            </div>
            <div onClick="selectBet(this, 2)" class="side top two">
              <div class="dot dtop dleft"></div>
              <div class="dot dbottom dright"></div>
            </div>
            <div onClick="selectBet(this, 3)" class="side right three">
              <div class="dot dtop dleft"></div>
              <div class="dot center"></div>
              <div class="dot dbottom dright"></div>
            </div>
          </div>
          <div>
            <div onClick="selectBet(this, 4)" class="side left four">
              <div class="dot dtop dleft"></div>
              <div class="dot dtop dright"></div>
              <div class="dot dbottom dleft"></div>
              <div class="dot dbottom dright"></div>
            </div>
            <div onClick="selectBet(this, 5)" class="side bottom five">
              <div class="dot center"></div>
              <div class="dot dtop dleft"></div>
              <div class="dot dtop dright"></div>
              <div class="dot dbottom dleft"></div>
              <div class="dot dbottom dright"></div>
            </div>
            <div onClick="selectBet(this, 6)" class="side back six">
              <div class="dot dtop dleft"></div>
              <div class="dot dtop dright"></div>
              <div class="dot dbottom dleft"></div>
              <div class="dot dbottom dright"></div>
              <div class="dot center dleft"></div>
              <div class="dot center dright"></div>
            </div>
          </div>
        </div>
        <button id='bet_button' class="btn btn-5 modal-btn" disabled onclick="completeBet()">Let's go!</button>
        </div>
    </div>
   </div>
  <script>
      var settingsContractAddress="{{contract}}";
      var abi = JSON.parse("{{contract_abi|escapejs}}");
      var translator = {
        1: 'one',
        2: 'two',
        3: 'three',
        4: 'four',
        5: 'five',
        6: 'six',
      }
      var startDate = null;
      var diff = null;
      var popupOpened = false;
      var choiced = null;
      var choicedVals = [];

  
      function onRoll(){
        startDate = new Date();
        var rollButton = document.getElementById("roll_button");
        rollButton.style.top = "-5rem";
        var stopButton = document.getElementById("stop_button");
        stopButton.style.top = "2rem";
        var pl = document.getElementById("platform");
        pl.classList.add("running");
        setTimeout(function(){
          el = document.getElementById("overlay");
          if(el.style.opacity == 0 && !popupOpened){
            el.style.opacity = "1";
            stopButton.style.top = "-5rem";
            popupOpened = true;
          }
        }, 30000)
      }
      
      function selectBet(e, choice){
        if(document.getElementById("overlay").style.opacity == 1){
          if(e.classList.contains('disabledVal')) return;
          choiced = translator[choice];
          var i = choicedVals.indexOf(choice);
          var side = document.querySelectorAll(".bet_area .side." + choiced)
          if(i >= 0){ //found
            side[0].classList.remove('selected');
            choicedVals = choicedVals.filter(function(o){ return o !== choice});
          } else{
            side[0].classList.add('selected');
            choicedVals.push(choice)
          }
          if(choicedVals.length <= 0){
            document.getElementById("bet_button").disabled = true;
          } else{
            document.getElementById("bet_button").disabled = false;
          }
          if(choicedVals.length === 5){
            var notDisabled = document.querySelectorAll(".bet_area .side:not(.selected)")
            notDisabled[0].classList.add('disabledVal');
          }
          else{
            var disabled = document.querySelectorAll(".bet_area .side.disabledVal");
            if(disabled[0]) disabled[0].classList.remove('disabledVal');
          }
        }
      }
  
      function checkMetamask(){
        if (typeof web3 === 'undefined') {
          return '<div>You need to install <a href=“https://metmask.io“>MetaMask </a> first</a></div>';
        }
        if (web3.eth.accounts.length === 0) {
          return '<div>You need to log in to <a href=“https://metmask.io“>MetaMask </a> first</a></div>';
        }      
        return null;
      }
  
      function completeBet(){
        var modal = document.getElementById("overlay");
        if(diff === null){
          var error = document.getElementById("error-message");
          var errorMessage = checkMetamask();
          if(errorMessage !== null){
            error.innerHTML = errorMessage;
            return;
          }
          
          var user_address = web3.eth.accounts[0]
          var contractAbi = web3.eth.contract(abi);
          var myContract = contractAbi.at(settingsContractAddress);
          var getData = myContract.rollDice.getData(choicedVals);
          web3.eth.sendTransaction({
            to: settingsContractAddress,
            from: user_address,
            value: web3.toWei('0.666', 'ether'),
            data: getData
          }, function (err, transactionHash) {
            if (err){
              console.log('There was a problem!: ' + err.message);
              return;
            }
            var txInfo = document.getElementById('txInfo');
            txInfo.innerHTML = '<a href=“http://ropsten.etherscan.io/tx/' + transactionHash + '>Transaction</a> is waiting to get mined.';
            sendTxData(transactionHash, 0.666, user_address);
            modal.style.opacity = "0";
            diff = Math.floor((new Date() - startDate)/1000);
            var platform = document.getElementById('platform');
            var dice = document.getElementById('dice');
            platform.setAttribute('style', 'animation-iteration-count: ' + (diff + 2).toString())
            dice.setAttribute('style', 'animation-iteration-count: ' + (Math.ceil(diff/2) + 4).toString())
          })
        }
      }

      function sendTxData(txHash, amount, wallet){
        var formData = new FormData();
        formData.append("wallet", wallet);
        formData.append("value", txHash);
        formData.append("amount", amount);
        choicedVals.forEach(function(v){
          formData.append('numbers[]', v);
        });

        fetch('/ajax/bet', {
          method: "POST", // *GET, POST, PUT, DELETE, etc.
          headers: {
            'X-CSRFToken': "{{csrf_token}}"
          },
          body: formData
        })
      }

      function playAgain(){
        var playAgainButton = document.getElementById("play_again_button");
        playAgainButton.style.top = "-5rem";
        var rollButton = document.getElementById("roll_button");
        var platform = document.getElementById("platform");
        var dice = document.getElementById("dice");
        platform.className = "";
        platform.setAttribute('style', '');
        dice.className = "";
        dice.setAttribute('style', '');
        document.getElementsByClassName('result')[0].classList.remove('result')
        var sel = document.getElementsByClassName('selected');
        [].forEach.call(sel, function (el) {
          el.classList.remove('selected');
        });
        rollButton.style.top = "2rem";
        startDate = null;
        diff = null;
        choiced = null;
        choicedVals = [];
      }
  
      function onStop(){
        popupOpened = true;
        var el = document.getElementById("overlay");
        el.style.opacity = "1";
        var stopButton = document.getElementById("stop_button");
        stopButton.style.top = "-5rem";
      }
  
      function onEnd(e){
        console.log(e.animationName);

        var platform = document.getElementById("platform");
        if(e.animationName === 'roll' && choiced !== null){
          var res = Math.floor(Math.random() * 6) + 1;
          // platform.classList.add('pokusAnim');
          platform.classList.add(choiced + 'Anim');
        }
        if(e.animationName === 'endAnim'){
          var res = document.getElementsByClassName(choiced)[0];
          res.classList.add('result');
          var playAgainButton = document.getElementById("play_again_button");
          playAgainButton.style.top = "2rem";          
        }
      }
      var platform = document.getElementById("platform");
      platform.addEventListener("webkitAnimationEnd", onEnd);
      platform.addEventListener("animationend", onEnd);  
    </script>
  </body>
</html>
